.footer {
  background-color: #0d0d0d;

  &__content {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;

    @media (max-width: $md1) {
      padding-top: 40px;
      padding-bottom: 40px;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $md1) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__media {
    img {
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: $md1) {
        padding-bottom: 5px;
      }
    }
  }

  &__img-line {
    @media (max-width: $md1) {
      display: none;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 4rem;
    @media (max-width: $md1) {
      justify-content: center;
      padding-top: 15px;
      padding-bottom: 0;
    }
  }

  &__text {
    color: $text-color--grey_light;
    font-size: $fz--s;
    font-weight: $weight;
    line-height: 133.333%;
    margin-right: 2.4rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__text:first-child {
    margin-right: auto;
    @media (max-width: $md1) {
      margin-right: 24px;
    }
  }

  &__text.privacy,
  &__text.term {
    margin-left: auto; /* Выравниваем "Privacy policy" и "Term of service" справа */
  }
}
