.header {
  &__content {
    max-width: 1800px;
    padding: 35px 10px;
    margin: 0 auto;
    @media (max-width: $md1) {
      padding: 35px 10px 10px;
    }
  }
  &__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $md1) {
      justify-content: center;
      gap: 30px;
    }
  }
}

.menu {
  &__body {
    @media (max-width: $md3) {
      transform: translate(0px, -100%);
      transition: transform 0.8s ease 0s;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: auto;
      padding: 60px 10px 30px 10px;
      background-color: rgba(255, 255, 255, 0.8);
      &._active {
        transform: translate(0px, 0%);
      }
    }
  }
  &__list {
    li {
      margin: 0px 0px 100px 0px;
    }
    @media (min-width: $md3) {
      display: flex;
      li {
        margin: 0px 0px 0px 32px;
        &:last-child {
          margin: 0px 0px 0px 32px;
        }
      }
    }
  }
  &__link {
    color: $main-color;
    font-size: $fz--m;
    font-weight: $weight;
    line-height: $lh-xxs;
    transition: all 0.3s ease 0s;
    @media (min-width: $md2) {
      &:hover {
        color: $button-text-color;
      }
    }
    @media (max-width: $md3) {
      font-size: $lh-xl;
      display: block;
      text-align: center;
    }
  }
  &__button {
    @media (max-width: $md1) {
      display: none;
    }
  }
}

//burger
// .icon-menu {
// }
