.start {
  background: linear-gradient(270deg, #35d3ff -0.64%, #a963fb 103.6%);
}
.start__content {
  display: flex;
  padding-top: 151px;
  padding-bottom: 143px;
  gap: 138px;
}
.start__content-info {
  max-width: 399px;
}
.start__content-text {
  color: $text-color--white;
  font-size: $fz--l;
  font-weight: $weight;
  line-height: 170%;
  margin-bottom: 3rem;
}
.start__btn {
  margin-bottom: 0;
}

//media
@media (max-width: $md1) {
  .start__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 70px;
    gap: 30px;
  }
  .start__content-info {
    max-width: none;
  }
}
