body._lock {
  overflow: hidden;
}

.starting-page {
  background: url(../images/hero-bg.png) top no-repeat;
  background-position: center calc(-19% + 0px);
}

// header styles
.header__content {
  max-width: 1800px;
  margin: 0 auto;
  padding: 50px 15px 100px 15px;
}

.header__menu {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

// nav styles
.menu__icon {
  display: none;
}
.menu__list {
  display: flex;
}
.menu__list li {
  margin-right: 32px;
}
.menu__list li:last-child {
  margin-right: 0;
}
.menu__link {
  font-weight: $weight;
  color: rgba($main-color, 0.8);
  position: relative;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.menu__link:hover {
  opacity: 1;
  color: rgba($main-color, 1);
}

// starting-page styles
.starting-page__content {
  text-align: center;
}

.starting-page__subtitle {
  margin-bottom: 40px;
}

// media-queries
@media (max-width: $md1) {
  .starting-page {
    background: url(../images/hero-bg.png) top/cover no-repeat;
    background-position: center calc(-19% + 0px);
  }
  .btn__get-started {
    display: none;
  }
  .header__content {
    padding: 50px 15px 30px;
  }
  .main-title {
    line-height: 100%;
    margin-bottom: 30px;
  }

  //burger
  .menu__icon {
    display: block;
    z-index: 500;
    position: relative;
    width: 50px;
    height: 40px;
    cursor: pointer;
    top: 0;
    left: 0;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: '';
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #35d3ff -0.64%, #a963fb 103.6%);
    padding: 100px 30px 30px 30px;
    transition: all 0.3s ease 0s;
    transform: translate(-100%, 0px);
    overflow: auto;
    z-index: 10;
  }
  .menu__body._active {
    transform: translate(0px, 0px);
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: flex-end;
  }

  .menu__list li {
    margin: 0px 0px 50px 0px;
  }
  .menu__list li:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 5rem;
    color: #fff;
  }
}
